#Ignore everything
*

#Do not ignore these files
!.gitignore
!task1/main.py
!task1/node.py
!task1/sequencer.py
!task1/message.py

#The files above are added, disregarding in which subdirectory they are located
!*/
